$background-color: #0d0b18;
$text-main: #fff;
$text-secondary: #bbb;
$accent-color: #00e0ff;

.aboutContainer {
  color: $text-main;
  padding-bottom: 2rem;
}

.title {
  text-align: center;
  font-size: 3em;
  margin: 2.5rem 0 1.5rem 0;
  letter-spacing: 1px;
  color: $text-main;
  text-shadow: 0 2px 12px #0008;
}

.section {
  background: #18162a;
  border-radius: 12px;
  margin: 1.2rem auto 0.7rem auto;
  padding: 1.2rem 2rem 1.2rem 2rem;
  width: 70%;
  color: $text-main;
  box-shadow: 0 2px 12px #0005;
  border-left: 6px solid $text-main;
  position: relative;
  overflow: hidden;
}

.sectionHeader {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: $accent-color;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.sectionText {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: $text-secondary;
  line-height: 1.7;
}

.link {
  color: var(--main-link-color);
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
  
  &:hover {
      color: var(--main-link-hover-color);
      text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.3em;
    margin: 1.2rem 0;
  }
  .section {
    width: 80%;
    padding: 0.7rem 0.5rem;
    margin: 0.7rem auto 0.4rem auto;
  }
}
